/* ESTILOS GENERALES */

/* reseteamos los margenes */
* {
    padding: 0px;    /* margen interior de un elemento */
    margin: 0px;     /* margen exterior de un elemento */
}

body {
    background: url(../img/bg.png);    /* en CSS se pasa sin comillas */
}

/* todos los enlaces */
a {
    color: #01B1EA;
}

/* todos los enlaces VISTADOS (para que no cambien de color) */
a:visited {
    color: #01B1EA;
}

/* cuando el cursor pasa por encima */
a:hover {
    color: #555555;
}

/* CONTAINER */
/* esto se aplica a todo, ya que todo el sitio esta contenido en un DIV con el id CONTAINER */
#container {
    width: 80%; /* establecemos ancho fijo del 80% */
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    background: white;
}

/* ESTILOS HEADER (logo y titulo) */
#header {
    height: 145px;
    background: #F0F0F0;
}

#logo {
    padding: 18px;
    margin-left: 15px;
    float: left;
}

#logo img {
    height: 100px;
    float: left;
}

/* elemento a dentro de logo */
#logo a {
    float: left;
    font-size: 30px;
    letter-spacing: 4px;
    font-family: "Open Sans", Helvetica, Arial;
    text-transform: uppercase;
}

/* para las imagenes dentro de la clase producto */
.product img {  
    width: 100px;
}
